/*Eliminates padding, centers the thumbnail */




/* Styles the thumbnail */
.section{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    position: relative;

}

a.lightbox{
    width: 10px;
    max-height: 10px;
    position: relative;

}




/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 50%;
opacity: 0;
-webkit-transition: opacity .5s ease;
-moz-transition: opacity .5s ease;
-o-transition: opacity .5s ease;
transition: opacity .5s ease;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target .enlarge {
margin: auto;
position: fixed;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
    background-color: rebeccapurple;
border-radius: 100%;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
color: #ed606c;
text-decoration: none;
position: absolute;
top: -80px;
right: -10px;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 5px;
border-radius: 6px;
background: #ed606c;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 5px;
border-radius: 6px;
background: #ed606c;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target .enlarge {
max-height: 50vw;
max-width: 50vw;
}

.lightbox-target:target a.lightbox-close {
top: 10vw;

}
