@import url(http://fonts.googleapis.com/css?family=Philosopher:700|Quicksand:700|Ubuntu|Open+Sans);

html{
    width: 100%;

}


body {
    background: #070c0d;
    display: table;
    height: 100vh;
    margin: 0;
    position: absolute;
    width: 100%;
    overflow-x: hidden;


}

.DISCLAIMER{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    bottom: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    
}



header.hidden{
    background-color: rgba(0,0,0,0.8);
    color: #078374;
    display: table;
    font-family: 'Philosopher', sans-serif;
    font-size: 200%;
    height: 8vh;
    position: fixed;
    text-align: center;
    -webkit-transition: 1s ease;
    width: 100%;
    z-index: 100;
}
.hidebutton.hidden{
    width: 0px;
    height: 0px;
    background: transparent;
    right: 0px;
    -webkit-transform:rotate(90deg);
    -webkit-animation:HIDEcolor 6s infinite;
    border-style: solid;
    border-width: 0.7em 0.5em 0 0.5em;
    border-color: orange transparent transparent transparent;
    top: 7px;
    right: -5px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    
}

.hidebutton.shrunk{
    width: 0px;
    height: 0px;
    background: transparent;
    -webkit-transform:rotate(-90deg);
    -webkit-animation:HIDEcolor 6s infinite;
    -webkit-transition: ease 1s;
    border-style: solid;
    border-width: 0.7em 0.2em 0 0.2em;
    border-color: orange transparent transparent transparent;
    top: -3.5px;
    left: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    
}

header.shrunk{
    width: 2%;
    height: 10px;
    opacity: 0.5;

}

/*----hide mobile header----*/

.MOBHead{
    display: none;
}

/*----hide mobile header end----*/


/*----hide arrow animation----*/



@-webkit-keyframes HIDEcolor {
    0%  { 
        border-color: #ff2524 transparent transparent transparent;
    }    
    25%{
        border-color: orange transparent transparent transparent;
    }
    75%{
        border-color: #0d7f77 transparent transparent transparent;
    }
    100% { 
        border-color: #ff2524 transparent transparent transparent;
    }
  }
/*----hide arrow animation end----*/


.Acontainer {
    height: 100%;
    position: relative;
    top: 15vh;
    width: 100%;


}





.container {
    height: 100%;
    position: relative;
    top: 15vh;
    width: 100%;
    overflow-y: scroll;


}


/*----scroll bar style----*/
::-webkit-scrollbar {
    display: none;
}

/*----scroll bar style end----*/







.logo{
    margin: 1% 0% 1% 1%;
    font-family: 'Philosopher', sans-serif;
    height: 10vh;
    background: url(img/LOGO1.png) no-repeat;
    background-size: contain;
    width: 10vh;
    float: left;
}

.logo:hover{
    background: #ff2524;
    -webkit-animation: RMcolor 1s infinite;
    width: 10vh;
    height: 10vh;
}

/*----logo higlight----*-/
@-webkit-keyframes logoHI {
    0%  { 
          opacity: 1;
          background: #ff2524;
    }
    70%{
          opacity: 0;

    }
    
    100% { 
           height: 50px;
           opacity: 1;
           border: solid 3px #fff;

    }
  }

/*----logo higlight end----*/


        




/*----pop up subscribe----*/
.subscribe{
    cursor: pointer;
}

.blur-in {
    -webkit-animation: blur 2s forwards;

}

.blur-out {
    -webkit-animation: blur-out 2s forwards;

}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        
    }

    100% {
        -webkit-filter: blur(4px);
       
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);

    }

    100% {
        -webkit-filter: blur(0px);

    }
}


.pop-up {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 90;
    letter-spacing: 0.1em;
}

.box {
    background-color: rgba(0,0,0,0.85);
    height: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    position: relative;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}



input{
    width: 30%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    background: transparent;
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    border-color: #FFF ;
    color: snow;
    padding: 1%;
    
}

input:focus {
    outline: none;
}





.button {
    margin-bottom: 33px;
    font-family: "Ubuntu";
    text-align: center;
    font-size: 170%;
}

.button:hover {
    border: solid 5px;
    -webkit-animation: HIDEcolor 1s infinite;
    transition: 0.5s ease;

}

.close-button{
    transition: all 0.5s ease;
    position: absolute;
    padding: 1.5px 7px;
    right: 3%;
    margin-left: -10px;
    margin-top: 10px;
    color: #0c7e76;
}

.Nclose-button{
    transition: all 0.5s ease;
    position: absolute;
    padding: 1.5px 7px;
    right: 3%;
    margin-left: -10px;
    margin-top: 10px;
    color: #0c7e76;
}
.close-button:hover {
    color: #fff;
}

h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Ubuntu";
    color: #fff;
    background-color: #ff2524;
}

.PUtext {
    padding: 30px 65px 80px 65px;
    color: snow;
    font-family: "Ubuntu";
}


#success{
    color: snow;

}




/*----pop up subscribe----*/
/*----TM subscribe----*/

.TMsub{
    display: none;
}
/*----TM subscribe----*/



section {
    color: transparent;
    display: table;
    height: 85vh;
    font-family: 'Philosopher', sans-serif;
    position: relative;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    width: 100%;
}






.text-vcenter {
    display: table-cell;
    line-height: 0.7em;
}



#text-vcenter2 {
    display:table-footer-group;
    vertical-align: middle;
}

.text-vcenter3 {
    display: table-cell;
}

.HPb1 {
    width: 33.333%;
    float: left;
    font-size: 250%;
    line-height: 0.8em;
    text-align: center;
    padding-top: 5%;


}

.HPb1:hover{
    color: snow;
    transition: all 0.5s ease-out;
    position: relative;
    background-size: cover;
    z-index: 30;
}

.HPs1 {
    width: 100%;


}

/*--main homepage INTRO--*/

.HPintro{
    color: snow;
    height: auto;
    width: 100%;
    padding: 10%;
    position: fixed;
}

.INTb1{
    font-size: 150px;
    padding: 0% 0% 0% 0%;

    
}

.INTb1sub{
    font-size: 60px;
    padding: 0% 0% 0% 10%;

}

.INTb1text{
    
}

#Ivid{
    position: absolute;
    right: 0; 
    bottom: 0;
    left: 0;
    top: -10%;
    min-width: 100%;
    width: auto; 
    height: auto; 
    z-index: -10; 
    opacity: 0.4;
}



.EWAN{
    padding: 0.7% 0% 0% 10%;
}


.INTb2{
    position: relative;
    width: 100%;
    height: 2400px;
    margin: 0;
    top: 10px;
    left: 0;
    background: rgba(0,0,0,0.9);
    clear: both;


}

#RD{
    opacity: 0;
    font-size: 250%;
    font-family: 'Philosopher';
    -webkit-transition: 1s ease;


}
#RD1{
    padding: 2% 0% 0% 30%;
    font-size: 120%;
    font-family: 'Ubuntu';
    -webkit-animation: showRD 1s;
    -webkit-transition: 1s ease;

}

@-webkit-keyframes showRD {
    0% { opacity: 0;  }
    
    100% { opacity: 1; }

}


.INTb2text{
    color: snow;
    font-size: 200%;
    line-height: 1.5em;
    text-align: left;
    top: 20%;
    padding: 7% 10% 0% 10%;
    
    
}
/*--main homepage INTRO end--*/





/*--main homepage feature = featureM--*/


.feature .featureM{
    text-align: center;
    line-height: 1em;
    font-family: 'Philosopher', sans-serif;
    position: relative;
    z-index: 2;
    
}



.featureM{
    text-align: center;
    height: 68%;
    margin-top: -0.5%;
    padding-top: 10%;
    z-index: 20;

}


.feature{
    margin-top: 20%;
   
}


.F1text .F2text .F3text{
    padding: 10%;
    overflow: hidden;
    
}

#F1{
    background: url(img/HP/tumblr_nki5uxvgKs1rv33k2o2_1280.jpg);
    background-size: cover; 
}


#F1:hover{
        background: url(img/HP/sparkly-142732.gif);
        background-size: cover; 
}

#F2{
    background: url(img/HP/Classics+2.JPG) 50% 70%;
    
}

#F2:hover{
        background: url(img/HP/water.gif) 20% 70%;
        background-size: cover;
}

#F3{
    background: url(img/HP/11067447_1637318886504193_3291224496778018872_n.jpg) 50% 34%;
    background-size: cover; 

}

#F3:hover{
        background: url(img/HP/tumblr_mn5hpm4jNz1s3d1b4o1_500.gif);
        background-size: cover; 
}

.nav{
    font-size: 50%;        
    color: #ff2524;
    background-size: contain;
    font-family: "Ubuntu";
    font-weight: bolder;
    margin: 3% 0% 0% 8%;
    float: left;
    width: 15%;
    vertical-align: center;
    cursor: pointer;

}

nav.hidden{
    opacity: 1;
}

nav:hover{
    
}

nav.shrunk{
    opacity: 0; 
}

.nav-wo{
    color: orange;
}

a{
    text-decoration: none;
    color: orange;

}

a:hover{
    color: #ff2524;
}

a:visited{
    color: #0c7e76;


}

a:active{
    background: #ff2524;
}


/*----scroll down arrow----*/


.arrow-wrap {
  position:absolute;
  z-index: 40;
  left: 45.6%;
  top: 65%;
  width: 5em;
  height: 5em;
  border-radius:50%;
  font-size:0.5em;
  display: block; 
}

.arrow {
    float:left;
    position:relative;
    left: 12%;
    top: 39%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5em 5em 0 5em;
    border-color: #FFF transparent transparent transparent;
    
    -webkit-transform:rotate(360deg)
}

.arrow:after {
    content:'';
    position:absolute;
    top:-6em;
    left: -4em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4em 4em 0 4em;
    border-color: #ff2524 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top: -0em;
  width:100%;
  left: 0;
  font-size: 4em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}



.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0%  { top:55%; }
    10% { top:77%; }
    20% { top:55; }
    30% { top:77%; }
    40% { top:43%; }
    50% { top:77%; }
    60% { top:55; }
    70% { top:77%; }
    80% { top:43%; }
    90% { top:77%; }
    100% { top:55%; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 1.8s 0.4s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;

  }

/*----scroll down arrow end----*/

/*----link highlight effect----*/


.linkOUT{
    color: snow;
    position: relative;
    overflow: hidden;

}



.hoverlink{
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;

}

.hoverlinkINT{
    position: absolute;
    margin: 0; 
    bottom: 30;
    left: 0;
    width: 100%;
    height: 30px;

}

.HPb1:hover .linkOUT, .hoverlink:hover .linkOUT, .hoverlinkINT:hover .linkOUT{
    background: #ff2524;
    height: 30px;
    color: snow;
    overflow: hidden;
    -webkit-animation: linkHI;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    left: 0;
    
}




@-webkit-keyframes linkHI {
    0%  { width: 0%;
          height: 30px;
          color: transparent;        
    }
    70%{
          color: snow;
    }
    100% { width: 100%;
           height: 30px;
           color: snow;        
    }
  }

/*---stylize---*/

.FLO{
    color: transparent;
    font-size: 40%;
    clear: both;
    text-align: center;
    bottom: 0px;


}

.HPb1:hover .FLO{
    color: snow;
}

.PinkTape{
    text-align: left;
    padding-top: 1.5%;
    padding-left: 3%;
}


/*----link highlight effect end----*/

.BANb1{
    font-size: 250%;
}


.MPs1{
    color: snow;
    position: relative;
    height: 1000px;
    z-index: 0;
    padding: 10% 20% 2% 10%;
}
.MPs2{
    background: rgba(0,0,0,0.8);
    padding-bottom: 15%;
    margin-bottom: 42%;

}

.Mquote{
    font-size: 200%;
    color: rgba(256,256,256,0.6);
    font-style: italic;
    line-height: 1.4em;

}
.MPscroll{
    top: 47%;

}


.BtHP{
    width: 100%;
    height: 20px;
    background: rgba(255,37,36,0.2);
    font-family: 'Open Sans', sans-serif;
    padding: 0.5% 0% 0.5% 10%;
    color: snow;
    position: fixed;
    z-index: 98;
}

.HPdes{
    font-size: 140%;
    background: #ff2524;
    padding-top: 1%;
    padding-left: 1%;
    top: 200px;
    left: 10%;
    position: relative;
    z-index: 2;
    height: 15%;
    width: 75%;
    transition: opacity 0.5s ease;


}

.HPbandes{
    font-size: 70%;
    background: #ff2524;
    padding: 1%;
    top: 250px;
    left: 10%;
    position: relative;
    z-index: 2;
    height: 15%;
    width: 75%;
    transition: opacity 0.5s ease;


}


.FPs1{
    color: snow;
    position: relative;
    height: 60%;
    z-index: 0;
    padding: 10% 20% 2% 10%;
}
.FPdes{
    font-size: 140%;
    background: #ff2524;
    padding-top: 1%;
    padding-left: 1%;
    position: fixed;
    z-index: 2;
    height: 3%;
    width: 75%;
    transition: opacity 0.5s ease;


}

.des{
    padding: 1% 0% 1.5% 4%;
}

.FPb1{
    font-size: 700%;
    margin-top: 10%;
    padding-bottom: 0%;
    line-height: 0.5em;

}
.FPb1text{
    color: snow;
    position: relative;
    height: 50%;
    z-index: 0;
    font-size: 250%;
    padding: 10% 10% 2% 10%;
    margin: 0%;
}
.FPb3text{
    color: snow;
    bottom: 40%;
    height: 40px;
    font-size: 120%;
    padding: 1% 0% 0% 2%;
    margin-left: 9%;
    position: relative;
    z-index: 1;

}
.FPs2{
    background: #dfeaf0;
    height: 100.5%;
    position: relative;
    

}

.quote{
    font-size: 200%;
    color: rgba(0,0,0,0.6);
    font-style: italic;
    line-height: 1.4em;
}

.imgsubtext{
    font-size: 80%;
    font-weight: bold;


}
.FPs2text{
    color: #538b9c;
    font-size: 100%;
    font-family: proxima-nova, sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.0em;
    padding: 10% 30% 0% 20%;

}


.FPs3{
    width: 100%;
    height: 300px;
    float: left;
    bottom: 0;
    position: relative;
    z-index: 0;
    background: transparent;
}

.HPS1{
    background: rgba(0,0,0,0.4);
    position: relative;
    z-index: 30;
}



.HPS2{
    text-align: center;
    position: relative;
    z-index: 3;

}


.banner{
    width: 100%;        
    background-size: cover;
    color: snow;
    text-align: left;
    font-size: 200%;
    position: relative;
    clear: both;
}

.HPbanner1{
    background: url(img/HP/tumblr_nm1sjofCGo1qacw13o4_1280.jpg) 90% 65%;
    background-size: 120%;
    min-height: 35%;
    padding: 5% 2% 15% 8%;
    color: snow;
    position: relative;
    z-index: 35;


}

.FPbanner1{
    background: url(img/FP/tumblr_nm1sjofCGo1qacw13o7_1280.jpg);
    height: 300px;

}

.FPbanner2{
    background: url(img/FP/banner2.gif);
    background-size: cover;
    height: 300px;

}

.QiBan{
    padding: 0% 0% 0% 10%;
    font-size: 150%;
}
.title{
    margin-top: -30px;
    padding: 0% 0% 0% 10%;

}

.HPheadtext{
    color: snow;
    margin-top: 0%;
    font-size: 250%;
    
}

#bgvid {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1;

}

#Fvid{
    position: absolute;
    right: 0; 
    bottom: 0;
    left: 0;
    top: 30%;
    min-width: 100%;
    width: auto; 
    height: auto; 
    z-index: -1; 
}





.subtitle {
    font-size: 40%;
    font-family: 'Open Sans';
    line-height: 1.2em;
    text-align: left;
    padding: 10%;
}

#aRM{
    color: white;
    font-size: 120%;
}

.NAV1:hover{
}

#HPboxbr{
    width: 100%;
    height: 1%;
    left: 50%;
    padding: 0.5%;
    background: #70b879;
    float: left;
    top: 40%;
    
    -webkit-animation: RMcolor;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;

}



/*----RM animation----*/



@-webkit-keyframes RMcolor {
    0%  { 
        background: #ff2524;
    }    
    25%{
        background: orange;
    }
    75%{
        background: #0d7f77;
    }
    100% { 
        background: #ff2524;
    }
  }
/*----RM animation end----*/



/*----5 boxes----*/


.FRboxall{
    position: relative;
    z-index: 40;

}


.FRboxtext{
    padding-top: 3%;
}

.FRbox{
    -webkit-transition: all 1s ease;
    -webkit-filter: grayscale(100%);
    -webkit-filter: brightness(40%);
    width: 20%;
    height: 300px;
    float: left;
}

.FRbox:hover{
    -webkit-filter: grayscale(0%);
    -webkit-filter: brightness(100%);
    text-align: center;
    padding-top: 1%;
}


.FRbox:hover .linkOUT{
    background: #ff2524;
    height: 30px;
    color: snow;
    overflow: hidden;
    -webkit-animation: linkHI;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    left: 0;

}

.FRbox1{
    background: url(img/HP/5box/20121207_seoulbeats_nell.jpg) 50%;
    background-size: cover;
}

.FRbox2{
    background: url(img/HP/5box/2ne1-eab7b8eba6acec9b8ced95b4ec9a94-missing-you-m_v-3012.jpg) 80% 50%;
    background-size: 240%;
    cursor: pointer;
}

.FRbox3{
    background: url(img/HP/5box/tumblr_nmjtyu7Ze91rv33k2o1_500.jpg);
    background-size: cover;
}

.FRbox4{
    background: url(img/HP/5box/tumblr_nnp4rt1zZp1rv33k2o4_540.jpg);
    background-size: cover;
}

.FRbox5{
    background: url(img/HP/5box/1420793401_r678x0.jpg);
    background-size: cover;
}

.FRbox6{
    display: none;
}
/*----5 boxes end----*/


/*----3BOXES----*/
.Aboxtext{
    color: snow;
    font-size: 150%;
}
.AboxAll{
    padding: 10%;
    cursor: pointer;

}

.AboxAll:hover{
    border: solid 5px;
    -webkit-animation: HIDEcolor 1s infinite;
    transition: 0.5s ease;
}
.Abox1{
    background: url(img/AP/scenery.png) 50% 70%;
    background-size: cover;
}

.Abox2{
    background: url(img/AP/2NE1.jpg) 50% 90%;
    background-size: cover;
}

.Abox3{
    background: url(img/AP/original.jpg) 50% 60%;
    background-size: cover;
}
/*----3BOXES END----*/


/*----9 boxes----*/

.HPReview{
    position: relative;
    z-index: 20;



}

.HPRCover{
    background: rgba(0,0,0,0.6);
    background-size: cover;
    overflow-x: auto;
    width: 100%;
    margin: 0%;
    position: absolute;
    z-index: 30;
    
}


#APvid{
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -30;

}

.audio{
    position: fixed;
    top: 10%;
    right: 0;
    width: 200px;
    z-index: 30;
    color: snow;
    cursor: pointer;
}
.NVID{

}

#mute-video{
    position: fixed;
    z-index: 40;
    top:14%;
    right: 10%;
    border: none 0px;
    background: transparent;
    color: snow;
    cursor: pointer;
    font-family: "Ubuntu";
    font-size: 120%;
    font-style: italic;

}

#mute-video:hover{
    border: solid 5px;
    -webkit-animation: HIDEcolor 1s infinite;
    transition: 0.5s ease;
}


.RboxAll{
    width: 25.3%;
    height: 200px;
    float: left;
    padding: 2.5%;
    margin: 0% 1% 0% 1.5%;
    background: transparent;
    cursor: pointer;

    
}
#NELL{
    position: fixed;
    z-index: 40;
    bottom: 26%;
    right: 10%;
    border: none 0px;
    background: transparent;
    color: snow;
    cursor: pointer;
    font-family: "Ubuntu";
    font-size: 120%;
    font-style: italic;

}
.RboxAll:hover{
    border: solid 5px;
    -webkit-animation: HIDEcolor 1s infinite;
    transition: 0.5s ease;

}

}
.Rbox1 .Rbox2 .Rbox3 .Rbox4 .Rbox5 .Rbox6 .Rbox7 .Rbox8 .Rbox9{
    color: transparent;
}

.Rbox1:hover{
    background: url(img/HP/9box/Rbox1_hover_Shine.gif) 50%;
    background-size: cover;
}
.Rbox2:hover{
    background: url(img/HP/9box/Rbox5_hover_jelly.gif);
    background-size: cover;   
}
.Rbox3:hover{
    background: url(img/HP/9box/Rbox3_hover_Lunafly.gif);
    background-size: cover;   
}

.Rbox4:hover{
    background: url(img/HP/9box/Rbox9_fly.gif);
    background-size: cover;   
}

.Rbox5:hover{
    background: url(img/HP/9box/);
    background-size: cover;   
}
.Rbox6:hover{
    background: url(img/HP/9box/Rbox6_hover_star.gif) 50%;
    background-size: cover;   
}
.Rbox7:hover{
    background: url(img/HP/9box/Rbox7_butterfly.gif);
    background-size: cover;   
}
.Rbox8:hover{
    background: url(img/HP/9box/Rbox8_geo.gif) 50%;
    background-size: cover;   
}
.Rboxtext{
    text-align: center;
    color: snow;
    font-size: 120%;
}

/*----9 boxes end----*/

/*----social media icons--*/

.footer{
    background: transparent;
    height: 200px;
    padding: 1%;
    bottom: 0;
    opacity: 0.9;
    position: relative;
    z-index: 60;
    margin-top: 5%;
}

.ICON{
    background: url(img/icon/icons1.svg);
    background-size: cover;
    width: 500px;
    height: 80px;
    bottom: 20%;
    margin: 0% 10% 0% 0%;
    float: right;
    clear: both;
    color: transparent;
}

#CON{
    font-size: 120%;
    opacity: 0.8;
    font-family: "ubuntu";
    padding: 3% 0% 0% 5%;
    margin-right: 10%;
    bottom: 0%;
    float: right;

}
/*----social media icons end--*/


/*----tablet----*/

@media(max-width: 800px){ 
    body {   
    }
    
    html{
        margin: 0;
        padding: 0;
    }
    
    .nav{
        width: 13%;
    }
    .hidebutton{
        display:none;
    }
    
    .HPintro{
        font-size: 30pt;
    }
    .INTb2text{
        display:none;
    }
    .HPdes{
        height: 60px;
        top: 160px; 
    
    }
    .FPb1{
        font-size: 60px;
    }
    
    
    .FLO{
        color: snow;
        font-size: 40%;
        clear: both;
        text-align: center;
        bottom: 0px;


    }

    
    .HPb1{
        margin: 0%;
    }
    .HPb1:hover{
        border: solid 5px;
        -webkit-animation: HIDEcolor 1s infinite;
        transition: 0.5s ease;
    }
    .INTb2{
        display: none;
        height:0px;
    }
    .F1text .F2text .F3text{
        padding: 5%;
    }
  
    .header{-webkit-animation: none;}
    .FLO{
        left: -5%;
        background: transparent;
    }

    .linkOUT{
        -webkit-animation: none;
        background: transparent;
    }
    .linkOUT:hover{
        -webkit-animation: none;
        background: transparent;
    }
    
    .hoverlink{
        background: transparent;
    
    }
    .hoverlink:hover{
        -webkit-animation: none;
    }
    
    .subtitle{
        display: none;
    }
    
    .HPb1:hover .linkOUT, .hoverlink:hover .linkOUT, .hoverlinkINT:hover .linkOUT, .hoverlink:hover .PinkTape{
     -webkit-animation: none;
        background: transparent;
        padding: 2%;
    
    }
    
    .PinkTape{
      border: solid 5px;
      -webkit-animation: HIDEcolor 1s infinite;
      transition: 0.5s ease;    
      padding: 2% 2% 0.5% 2%;
      font-size: 20pt;
    }
    
    .HPb1{
     color: snow;
    }
    
    .subtitle{
        padding: 0% 0% 4% 4%;
    }

    .HPb1{
        float: left;
        width: 100%;
        height: 27.333%;
        margin-top: 0%;
        padding: 3%;
        position: relative;
    }
    
    .HPb1:hover{
        
    }
    
    .FPs1 .FPb1 .FPb1text{
        font-size: 20pt;
        width: 100%;
    
    }
    
    #F1:hover .FLO, #F2:hover .FLO, #F3:hover .FLO{
        background: transparent;
        font-size: 20pt;
        left: -30px;
    }
    
    .FPs2{
        margin-bottom: 30px;
        
    }
    .FRbox{
        top: 100px;
        width: 50%;
        height: 100px;
        margin: 0%;
        position: relative;
    }
    
     .FRbox:hover{
         padding-top: 0%;
     
     }   

    .TMsub{
        display: block;
        margin-top: -68px;
    }
    .row{
    
    }
    .FRboxall{
        height: 400px;
        position: relative;
        margin: 0%;
    
    }
    .FRboxtext{
        padding: 0% 0% 0% 2%;   
    }
    
    .FRbox6{
        display:inline-block;
        color: snow;
        background: url(img/HP/9box/TVstatic.gif);
        background-size: 1050px 610px;
           
    }
    .FRbox6:hover{
        background: url(img/HP/9box/TVstatic.gif);
        background-size: 1050px 610px;
    
    }
    .FRbox6:hover #SSCR{
        background: #ff2524;
    
    }
    #SSCR{
        font-size: 400%;
    
    }
    #mute-video{
        font-size: 14pt;
        right: 2%;
    
    }
    .RboxAll{
        clear: both;
        width: 100%;
        
    }
    #NELL{
        font-size: 14pt;
        right: 2%;
        top: 21%;
        padding-top: 0px;
        margin: 0px;
        position: fixed;
        z-index: 40;
        bottom: auto;
    
    
    }
    
    .hoverlinkINT:hover .EWAN{
        -webkit-animation: none;
    }
    .EWAN{
        font-size: 25px;
        padding-left: 70px;
    }
    .subtitle{
        display: none;
    }
    
    .arrow-wrap{
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    .AboxAll{
        height: 200px;
    
    }
    .FPb1{
        font-size: 90px;
        line-height: 1em;
    }
    
    .FPb1text{
        font-size: 50px;
        line-height: 1em;
        padding-top: 60px;
    }
    
    .HPbanner1{
        margin-bottom: 40%;
    }
    .FPdes{
        font-size: 13pt;
    }

    .TMsub{
    display: block;
    }
    
    .footer{
        background: transparent;
        height: 150px;
        padding: 1%;
        bottom: 50px;
        opacity: 0.9;
        position: relative;
        z-index: 60;
        margin-top: 5%;
    }

    .ICON{
        background: url(img/icon/icons1.svg);
        background-size: cover;
        width: 300px;
        height: 60px;
        bottom: 20%;
        margin: 0% 10% 0% 0%;
        float: right;
        clear: both;
        color: transparent;
    }

}



/*----mobile----*/
@media (max-width: 480px) {
    body {   
        -webkit-animation: none;

    }
    body:hover{ 
        -webkit-animation: none;
    }
    .arrow-wrap{
        width: 0px;
        height: 0px;
        opacity: 0;
    }
 

    html{
        margin: 0;
        padding: 0;
        
    }
    .wrap1{
        background: url(img/AP/scenery.png) no-repeat;
        background-size: 500%;
        width: 100%;
    
    }
    .wrap2{
        background: url(img/AP/2NE1.jpg) no-repeat;
        background-size: 500%;
        width: 100%;
    
    }
    /*----hide web header/ show mobile header----*/
    
    .MOBHead{
        display: block;
        margin: 0;
    }
    
    .WEBHead{
        display: none;
        opacity: 0;
    
    }
    .MOBNAV{
        margin-top: 80px;
        width: 60%;
        background: rgba(0,0,0,0.9);
        position: fixed;
        z-index: 80;
    }
    .Mnav{
        color: orange;
        width: 60%;
        height: 60px;
        padding: 7% 2% 2% 2%;
        text-align: center;
        font-size: 120%;
        font-family: "Ubuntu";
        font-weight: bolder;
    
    }
    
    .OMNAV{
        left: -1000px;
        position: fixed;
        -webkit-transition: 1s ease;

    }
    
    .OMNAV.sidenav{
        left: 000px;
        position: fixed;
        -webkit-transition: 1s ease;
    }
    .Msubscribe{
        color: #ff2524;
    }
    
   .Mlogo:hover{
        border: solid 5px;
      -webkit-animation: HIDEcolor 1s infinite;
      transition: 0.5s ease;
   }
    
    .Mlogo{
    margin: 1% 0% 1% 1%;
    font-family: 'Philosopher', sans-serif;
    height: 8vh;
    background: url(img/LOGO-small.png) no-repeat;
    background-size: contain;
    width: 8vh;
    float: left;
    position: fixed;
    z-index: 100;
    }
    

    /*----hide web header/ show mobile header----*/

   
    .hidebutton{
        display:none;
    }
    .mobilemini{
        display: none;
    }
    .HPintro{
        display:none;
    }
    .INTb2text{
        display:none;
    }
    
  
    .HPb1{
        margin: 0%;
    }
    .HPb1:hover{

    }
    .INTb2{
        display: none;
        height:0px;
    }
    .F1text .F2text .F3text{
        padding: 5%;
    }
    .hoverlink .FLO{
     background: transparent;
    }
    .linkOUT{
        background: transparent;
    
    }
    .HPb1:hover .linkOUT, .hoverlink:hover .linkOUT, .hoverlinkINT:hover .linkOUT, .hoverlink:hover .PinkTape{
     -webkit-animation: none;
        background: transparent;
        padding: 2% 2% 0.5% 2%;
    
    }
    
    .PinkTape{
      display: block;
      border: solid 0;
      -webkit-animation: HIDEcolor 1s infinite;
      transition: 0.5s ease;    
      padding: 3%;
      font-size: 20pt;
      background: #FF2524;
      line-height: 1em;
    }
    
    .FLO{
        left: -5%;
    }

    .linkOUT{
        -webkit-animation: none;
        background: #ff2524;
    }
    .linkOUT:hover{
        -webkit-animation: none;
    }
     .hoverlink:hover{
        -webkit-animation: none;
    }
    
    
    .HPb1:hover .linkOUT, .hoverlink:hover .linkOUT, .hoverlinkINT:hover .linkOUT{
     -webkit-animation: none;
    
    }
    
    
    
    .HPb1{
     color: snow;
    }
    
    .subtitle{
        padding: 0% 0% 4% 4%;
    }

   
    .HPb1{
        float: left;
        width: 100%;
        height: 27.333%;
        margin-top: 0%;
        padding: 3%;
        position: relative;
    }
    
    .FPs1 .FPb1 .FPb1text{
        overflow-x: hidden;
    
    }
    
    .FPb1 {
        font-size: 55pt;
        
    }
    
    .FPs2{
        margin-bottom: 30px;
        
    }
    .FPb1text{
        font-size: 40pt;
    
    }
    .FRbox{
        clear: both;
        width: 100%;
        
    
    }
    
    .FRbox:hover .linkOUT, .FRbox:hover .FRboxtext{
        background: #ff2524;
        height: 30px;
        color: snow;
        overflow: hidden;
        -webkit-animation: none;
        text-align: left;

    }
    .FRbox6:hover{
        background:#ff2524;
        height: 150px;
        
    }
    #mute-video{
        font-size: 14pt;
        right: 2%;
    
    }
    .RboxAll{
        clear: both;
        width: 100%;
        
    }
    #NELL{
        font-size: 14pt;
        right: 2%;
        top: 21%;
        padding-top: 0px;
        margin: 0px;
        position: fixed;
        z-index: 40;
        bottom: auto;
    
    
    }
    .AboxAll{
        height: 200px;
    
    }
 
    
    .HPbanner1{
        margin-bottom: 40%;
    }
    .FPdes{
        font-size: 13pt;
    }

    .TMsub{
    display: block;
    position: relative;
    margin-top: 350px;
    }
    
    .footer{
        background: transparent;
        height: 150px;
        padding: 1%;
        bottom: 0px;
        opacity: 0.9;
        position: relative;
        z-index: 60;
        margin-top: 5%;
    }

    .ICON{
        background: url(img/icon/icons1.svg);
        background-size: cover;
        width: 300px;
        height: 70px;
        bottom: 20%;
        margin: 0% 10% 0% 0%;
        float: right;
        clear: both;
        color: transparent;
    }

    #bgvid{
        display: none;
    
    }
    
}
